@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
  /* Custom Scrollbar for Chrome, Safari, and Opera */
  .custom-scrollbar::-webkit-scrollbar {
    width: 7px; /* Width of the scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #CE9560; /* Thumb color */
    border-radius: 5px; /* Optional: Rounded thumb */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #F5F5F5; /* Track color */
    border-radius: 5px; /* Optional: Rounded track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #B98656; /* Thumb color on hover */
  }
}

@keyframes wiggle {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-5px); }
  }

/* Only adding the slide from right animation */
@keyframes slideInRight {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes slideOutRight {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}

@layer utilities {
    .animate-slide-in-right {
        animation: slideInRight 0.3s ease-out forwards;
    }
    
    .animate-slide-out-right {
        animation: slideOutRight 0.3s ease-out forwards;
    }
}
  
body{
    @apply font-sans
}

@layer components{
    .banner-heading{
        @apply text-[22px] sm:text-[30px] md:text-[38px] lg:text-[48px] font-bold leading-tight
    }

    .banner-subheading{
        @apply text-sm md:text-[18px] leading-normal
    }

    .heading1{
        @apply text-[20px] lg:text-[24px] xl:text-[26px] font-bold leading-7  text-[#444444]
    }

    .heading2{
        @apply  text-[18px] md:text-[20px] xl:text-[22px] leading-[25px]   text-[#444444]
    }

    .paragraph-text{
        @apply text-[15px] lg:text-[16px]  font-normal text-justify text-[#4B5563]
    }

    .span-text{
        @apply text-[14px] font-normal leading-[22px] text-[#323232]
    }
}